/* line 17, ../../../../../.rvm/gems/ruby-1.8.7-p334/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.8.7-p334/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.8.7-p334/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.8.7-p334/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.8.7-p334/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.8.7-p334/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../.rvm/gems/ruby-1.8.7-p334/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.8.7-p334/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../.rvm/gems/ruby-1.8.7-p334/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 25, ../sass/screen.scss */
body {
  width: 100%;
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: hidden;
}

/* line 32, ../sass/screen.scss */
a {
  color: #0066cc;
}

/* line 36, ../sass/screen.scss */
h1 {
  padding: 0.5em 0;
  font-size: 32px;
  font-weight: bold;
  text-shadow: 0 1px 1px #4da6ff;
}

/* line 43, ../sass/screen.scss */
input {
  font-size: 14px;
}

/* line 47, ../sass/screen.scss */
span.title {
  color: #0066cc;
}

/* line 54, ../sass/screen.scss */
.button, input.button {
  position: relative;
  float: left;
  padding: 2px 10px;
  top: 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #555555;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3c3c3c), color-stop(100%, #2f2f2f));
  background-image: -webkit-linear-gradient(top, #3c3c3c, #2f2f2f);
  background-image: -moz-linear-gradient(top, #3c3c3c, #2f2f2f);
  background-image: -o-linear-gradient(top, #3c3c3c, #2f2f2f);
  background-image: -ms-linear-gradient(top, #3c3c3c, #2f2f2f);
  background-image: linear-gradient(top, #3c3c3c, #2f2f2f);
  -moz-box-shadow: 0 1px 1px black;
  -webkit-box-shadow: 0 1px 1px black;
  -o-box-shadow: 0 1px 1px black;
  box-shadow: 0 1px 1px black;
  color: #fff;
}
/* line 67, ../sass/screen.scss */
.button:hover, input.button:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #484848), color-stop(100%, #3c3c3c));
  background-image: -webkit-linear-gradient(top, #484848, #3c3c3c);
  background-image: -moz-linear-gradient(top, #484848, #3c3c3c);
  background-image: -o-linear-gradient(top, #484848, #3c3c3c);
  background-image: -ms-linear-gradient(top, #484848, #3c3c3c);
  background-image: linear-gradient(top, #484848, #3c3c3c);
  cursor: pointer;
}
/* line 71, ../sass/screen.scss */
.button:active, input.button:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2f2f2f), color-stop(100%, #3c3c3c));
  background-image: -webkit-linear-gradient(top, #2f2f2f, #3c3c3c);
  background-image: -moz-linear-gradient(top, #2f2f2f, #3c3c3c);
  background-image: -o-linear-gradient(top, #2f2f2f, #3c3c3c);
  background-image: -ms-linear-gradient(top, #2f2f2f, #3c3c3c);
  background-image: linear-gradient(top, #2f2f2f, #3c3c3c);
  -moz-box-shadow: inset 0 1px 1px #222222;
  -webkit-box-shadow: inset 0 1px 1px #222222;
  -o-box-shadow: inset 0 1px 1px #222222;
  box-shadow: inset 0 1px 1px #222222;
  margin-top: 1px;
}
/* line 78, ../sass/screen.scss */
.button.highlight, input.button.highlight {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4da6ff), color-stop(100%, #007fff));
  background-image: -webkit-linear-gradient(top, #4da6ff, #007fff);
  background-image: -moz-linear-gradient(top, #4da6ff, #007fff);
  background-image: -o-linear-gradient(top, #4da6ff, #007fff);
  background-image: -ms-linear-gradient(top, #4da6ff, #007fff);
  background-image: linear-gradient(top, #4da6ff, #007fff);
  -moz-box-shadow: 0 1px 1px black;
  -webkit-box-shadow: 0 1px 1px black;
  -o-box-shadow: 0 1px 1px black;
  box-shadow: 0 1px 1px black;
  color: #fff;
}
/* line 83, ../sass/screen.scss */
.button.highlight:hover, input.button.highlight:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1a8cff), color-stop(100%, #66b2ff));
  background-image: -webkit-linear-gradient(top, #1a8cff, #66b2ff);
  background-image: -moz-linear-gradient(top, #1a8cff, #66b2ff);
  background-image: -o-linear-gradient(top, #1a8cff, #66b2ff);
  background-image: -ms-linear-gradient(top, #1a8cff, #66b2ff);
  background-image: linear-gradient(top, #1a8cff, #66b2ff);
  cursor: pointer;
}
/* line 87, ../sass/screen.scss */
.button.highlight:active, input.button.highlight:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #66b2ff), color-stop(100%, #1a8cff));
  background-image: -webkit-linear-gradient(top, #66b2ff, #1a8cff);
  background-image: -moz-linear-gradient(top, #66b2ff, #1a8cff);
  background-image: -o-linear-gradient(top, #66b2ff, #1a8cff);
  background-image: -ms-linear-gradient(top, #66b2ff, #1a8cff);
  background-image: linear-gradient(top, #66b2ff, #1a8cff);
  -moz-box-shadow: inset 0 3px 5px #003366;
  -webkit-box-shadow: inset 0 3px 5px #003366;
  -o-box-shadow: inset 0 3px 5px #003366;
  box-shadow: inset 0 3px 5px #003366;
  margin-top: 1px;
}

/* line 97, ../sass/screen.scss */
#slideDownTab {
  position: fixed;
  top: 0;
  right: 10px;
  width: 50px;
  height: 70px;
  background-color: #222222;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3c3c3c), color-stop(100%, #222222));
  background-image: -webkit-linear-gradient(top, #3c3c3c, #222222);
  background-image: -moz-linear-gradient(top, #3c3c3c, #222222);
  background-image: -o-linear-gradient(top, #3c3c3c, #222222);
  background-image: -ms-linear-gradient(top, #3c3c3c, #222222);
  background-image: linear-gradient(top, #3c3c3c, #222222);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-bottom-right-radius: 10px 10px;
  border-bottom-left-radius: 10px 10px;
  z-index: 9998;
  cursor: pointer;
  border-bottom: 1px solid #a2a2a2;
}
/* line 111, ../sass/screen.scss */
#slideDownTab::after {
  content: "\00ab";
  display: block;
  position: absolute;
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 3px;
  width: 100%;
  text-align: center;
  color: #fff;
}
/* line 121, ../sass/screen.scss */
#slideDownTab.up::after {
  content: "\00bb";
}

/* line 126, ../sass/screen.scss */
#header {
  z-index: 9999;
  overflow: hidden;
  background-color: #222222;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3c3c3c), color-stop(100%, #222222));
  background-image: -webkit-linear-gradient(top, #3c3c3c, #222222);
  background-image: -moz-linear-gradient(top, #3c3c3c, #222222);
  background-image: -o-linear-gradient(top, #3c3c3c, #222222);
  background-image: -ms-linear-gradient(top, #3c3c3c, #222222);
  background-image: linear-gradient(top, #3c3c3c, #222222);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 48px;
}
/* line 142, ../sass/screen.scss */
#header h1 {
  padding: 8px;
  font-size: 24px;
  letter-spacing: -0.05em;
  font-weight: bold;
  float: left;
}
/* line 150, ../sass/screen.scss */
#header .menu {
  position: relative;
  float: left;
  margin-left: 20px;
  top: 12px;
  font-size: 14px;
}
/* line 157, ../sass/screen.scss */
#header .menu .button {
  margin-right: 10px;
}
/* line 161, ../sass/screen.scss */
#header .centralizer {
  position: relative;
  margin-left: 70%;
  left: 0;
}
/* line 166, ../sass/screen.scss */
#header .sharebox {
  position: relative;
  margin-left: -100%;
  float: left;
  top: 12px;
}
/* line 173, ../sass/screen.scss */
#header input {
  background: transparent;
  margin: 0 6px 0 1px;
  border: none;
  border-bottom: 1px solid #555555;
  color: #fff;
  padding: 4px 2px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: inset 0 2px 2px black;
  -webkit-box-shadow: inset 0 2px 2px black;
  -o-box-shadow: inset 0 2px 2px black;
  box-shadow: inset 0 2px 2px black;
  font-size: 14px;
  float: left;
  width: 100px;
}
/* line 186, ../sass/screen.scss */
#header .menutext {
  float: left;
  top: 4px;
  position: relative;
  display: block;
  margin-left: 5px;
}
/* line 193, ../sass/screen.scss */
#header .login-btn {
  position: relative;
  top: 12px;
  float: right;
  margin-right: 10px;
}
/* line 200, ../sass/screen.scss */
#header span.light {
  color: #336699;
}

/* line 205, ../sass/screen.scss */
#pasteboard {
  overflow: hidden;
  background-color: black;
}

/* line 210, ../sass/screen.scss */
#inner {
  background-image: url(/images/bgnoise.gif);
  position: relative;
}

/* line 215, ../sass/screen.scss */
.element {
  position: absolute;
  top: 700px;
  left: 700px;
}

/* line 221, ../sass/screen.scss */
#login-window-overlay-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10000;
  display: none;
}

/* line 232, ../sass/screen.scss */
#login-window {
  left: 50%;
  top: 0;
  position: fixed;
  float: left;
}

/* line 241, ../sass/screen.scss */
.login-center-window {
  width: 300px;
  height: 400px;
  top: 72px;
  left: -50%;
  position: relative;
  background-color: #222222;
  -moz-box-shadow: 0 2px 5px black;
  -webkit-box-shadow: 0 2px 5px black;
  -o-box-shadow: 0 2px 5px black;
  box-shadow: 0 2px 5px black;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  color: #fff;
  padding: 10px 20px;
}
/* line 254, ../sass/screen.scss */
.login-center-window h1 {
  margin-bottom: 0.5em;
}
/* line 258, ../sass/screen.scss */
.login-center-window input {
  width: 100%;
}
/* line 262, ../sass/screen.scss */
.login-center-window input.text {
  font-size: 24px;
  margin: 0.25em 0 1em 0;
}
/* line 267, ../sass/screen.scss */
.login-center-window input.button {
  padding: 0.5em 0;
}
/* line 270, ../sass/screen.scss */
.login-center-window input.button.highlight {
  font-size: 24px;
  margin-bottom: 10px;
}

/* line 278, ../sass/screen.scss */
.dashboard {
  border: 1px solid #bbbbbb;
  height: 50px;
  position: absolute;
  top: 55px;
  left: 400px;
}
/* line 285, ../sass/screen.scss */
.dashboard .cell {
  background: #fff;
  color: #000;
  border-left: 1px solid #bbbbbb;
  height: 100%;
  width: 100px;
  display: inline-block;
  vertical-align: top;
}
/* line 293, ../sass/screen.scss */
.dashboard .cell:first-child {
  border: none;
}
/* line 294, ../sass/screen.scss */
.dashboard .cell .label {
  color: #999999;
  text-align: center;
  height: 50%;
  width: 100%;
  line-height: 25px;
}
/* line 301, ../sass/screen.scss */
.dashboard .cell .info {
  text-align: center;
  height: 50%;
  width: 100%;
  line-height: 25px;
}
