div(id="authenticationWindow")
  p stuff!  
  div(class="escaper")
    div(id="email-input", class="default", style="display:none")
      div(class="arrowtip")
      div(class="validator")
        input(type="text",value="enter email",class="text",id="email-address")
        input(type="button",value="Submit",class="button")
        input(type="button",value="Cancel",class="button cancel")