!!! 5
html(lang="en")
  body
    #header
      h1
        span.title MindMap : 
        |SuperBowl.js

      .dashboard
        .cell#mouse-stat
          .label mouse
          .info --
        .cell#canvas-stat
          .label canvas
          .info 0 : 0
        .cell#delta-stat
          .label delta
          .info --
        .cell#mode-stat
          .label mode
          .info dragging

      #login
        a Login
    #container
      #canvasWrapper
        #canvas

    #bottomLinkWrapper
      |Sign in!
