!!! 5
html(lang="en")
  body
    #header
      h1
        span.title superbowl
        |.js
      .menu
        .button(id='btn-reset-view') reset view
        .button foo
        .button bar
      
      .centralizer
        .sharebox
          .menutext 
            span(class='light') bow.ly/
          input(value='myha5h')
          .button share!

      .login-btn
        .button log in      
        .menutext to see all your stuff
        
        

    #container
      #canvasWrapper
        #canvas
          .item asdfasd
          .item(style='top:400px; left:400px;') asdf awe fawe
          .item(style='top:700px; left:700px;') asfawefwefsd
          .item(style='top:1000px; left:1000px;') asfawefwefsd
          .item(style='top:1400px; left:1400px;') asfawefwefsd

    #bottomLinkWrapper
      |Sign in!
    
    .dashboard
      .cell#mouse-stat
        .label mouse
        .info --
      .cell#canvas-stat
        .label position
        .info 0 : 0
      .cell#delta-stat
        .label delta
        .info --
      .cell#mode-stat
        .label mode
        .info dragging
  
