!!!
html
  head
    title= title
    link(rel='stylesheet', href='styles/css/screen.css')
    script(src='/socket.io/socket.io.js')
    script(src='js/lib/jquery.js')
    script(src='js/jquery/jquery.kinetic.js')
    script(src='js/superbowl-client.js')
    script(src='js/interactions.js')
    body!= body
