!!!
html
  head
    title= title
    link(rel='stylesheet', href='styles/css/screen.css')
    script(src="/socket.io/socket.io.js")
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js')
    script(src='js/modules/modules.js')
    script(src='js/modules/talk.js')
    script(src='js/modules/mindmap.js')
    script(src='js/superbowl-client.js')

    body!= body
