
/*	Rounded Corners  */
@mixin rounded($radius: 10px) {
    border-radius: $radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
}
@mixin roundedTop($radius: 10px) {
	-webkit-border-top-left-radius: $radius; 
	-moz-border-radius-topleft: $radius;
	border-top-left-radius: $radius;
	-webkit-border-top-right-radius: $radius; 
	-moz-border-radius-topright: $radius;
	border-top-right-radius: $radius;
}
@mixin roundedBottom($radius: 10px) {
	-webkit-border-bottom-left-radius: $radius; 
	-moz-border-radius-bottomleft: $radius;
	border-bottom-left-radius: $radius;
	-webkit-border-bottom-right-radius: $radius; 
	-moz-border-radius-bottomright: $radius;
	border-bottom-right-radius: $radius;
}
@mixin roundedSide($side, $radius: 10px) {
  border-#{$side}-radius: $radius;
  -moz-border-radius-#{$side}: $radius;
  -webkit-border-#{$side}-radius: $radius;
}
@mixin roundedLeft($radius: 10px) {
	-webkit-border-bottom-left-radius: $radius; 
	-moz-border-radius-bottomleft: $radius;
	border-bottom-left-radius: $radius;
	-webkit-border-top-left-radius: $radius; 
	-moz-border-radius-topleft: $radius;
	border-top-left-radius: $radius;
}
@mixin roundedRight($radius: 10px) {
	-webkit-border-top-right-radius: $radius; 
	-moz-border-radius-topright: $radius;
	border-top-right-radius: $radius;
	-webkit-border-bottom-right-radius: $radius; 
	-moz-border-radius-bottomright: $radius;
	border-bottom-right-radius: $radius;
}
/*	Drop Shadows  */
@mixin shadow($a,$b,$c,$d,$opacity) {
	-webkit-box-shadow: $a $b $c $d rgba(0,0,0,$opacity);
	-moz-box-shadow: $a $b $c $d rgba(0,0,0,$opacity);
	box-shadow: $a $b $c $d rgba(0,0,0,$opacity);
}
@mixin innerShadow($a,$b,$c,$d,$opacity) {
	-webkit-box-shadow: inner $a $b $c $d rgba(0,0,0,$opacity);
	-moz-box-shadow: inner $a $b $c $d rgba(0,0,0,$opacity);
	box-shadow: inner $a $b $c $d rgba(0,0,0,$opacity);
}
@mixin blueGlow($a,$b,$c,$d,$opacity) {
	-webkit-box-shadow: $a $b $c $d rgba(86,163,225,$opacity);
	-moz-box-shadow: $a $b $c $d rgba(86,163,225,$opacity);
	box-shadow: $a $b $c $d rgba(86,163,225,$opacity);
}
@mixin insetShadow($a,$b,$c,$d,$color) {
    -moz-box-shadow:inset $a $b $c $d $color;
    -webkit-box-shadow:inset $a $b $c $d $color;
    box-shadow:inset $a $b $c $d $color;	
}
/*  Gradients  */
@mixin gradient($first,$second) {
	background: $second;
	//filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$first', endColorstr='$second');
	background: -webkit-gradient(linear, left top, left bottom, from($first), to($second));
	background: -moz-linear-gradient(top,  $first,  $second);
}
@mixin gradientFancy($first,$second) {
	background-color: $first;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, $first), color-stop(1, $second) );
    background:-moz-linear-gradient( center top, $first 5%, $second 100% );
	//filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=$msFirst, endColorstr=$msSecond);
}

