@import "compass/reset";
@import "compass/css3";

//DEFINITIONS
//colors
$highlight1: #0066CC;
$bg: #f4f4f4;
$border: #bbb;
$halftone: #999;
$dark: #222;
//measurements
$header-height: 48px;
$world-margin: 0;

//type
$font-size-normal: 14px;

//CUSTOM MIXINS





//standards & type
body {
  width: 100%;
  height: 100%;
  font: $font-size-normal "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: hidden;
}

a {
  color: $highlight1;
}

h1 {
  padding: 0.5em 0;
  font-size: 32px;
  font-weight: bold;
  @include text-shadow(0 1px 1px lighten($highlight1, 25));
}

input {
  font-size: $font-size-normal;
}

span.title {
  color: $highlight1;
}

//CUSTOM / APP

.button, input.button {
   position: relative;
   float: left;
   padding: 2px 10px;
   top:1px;
   @include border-radius(3px);
   border: 1px solid lighten($dark, 20);

   $btn-color-offset: 5;
   
   @include background-image(linear-gradient(top, lighten($dark, $btn-color-offset +5), lighten($dark, $btn-color-offset)));
   @include box-shadow(0 1px 1px #000);
   color: #fff;
   &:hover {
     @include background-image(linear-gradient(top, lighten($dark, $btn-color-offset +10), lighten($dark, $btn-color-offset +5)));
     cursor: pointer;
   }
   &:active {
      $active-btn-color-offset: $btn-color-offset - 5;     
      @include background-image(linear-gradient(top, lighten($dark, $active-btn-color-offset + 5), lighten($dark, $active-btn-color-offset +10)));
      @include box-shadow(inset 0 1px 1px #222);
      margin-top:1px;
    }
  
  &.highlight {
    $btn-color-offset: 10;
     @include background-image(linear-gradient(top, lighten($highlight1, $btn-color-offset +15), lighten($highlight1, $btn-color-offset)));
     @include box-shadow(0 1px 1px #000);
     color: #fff;
     &:hover {
       @include background-image(linear-gradient(top, lighten($highlight1, $btn-color-offset +5), lighten($highlight1, $btn-color-offset +20)));
       cursor: pointer;
    }   
    &:active {
       $active-btn-color-offset: $btn-color-offset - 5;     
       @include background-image(linear-gradient(top, lighten($highlight1, $btn-color-offset +20), lighten($highlight1, $btn-color-offset +5)));
       @include box-shadow(inset 0 3px 5px darken($highlight1, 20));
       margin-top:1px;
     }
    
  }
}

#slideDownTab {
  position: fixed;
  top: 0;
  right: 10px;
  width: 50px;
  height: 70px;
  background-color: $dark;
  @include background-image(linear-gradient(top, lighten($dark, 10), $dark));
  @include box-shadow(0 2px 4px rgba(#000, 0.5));  
  border-bottom-right-radius: 10px 10px;
  border-bottom-left-radius: 10px 10px;
  z-index: 9998;
  cursor: pointer;
}

#header {
  $top-offset: 12px;
  
  z-index:9999;
  overflow:hidden;
  background-color: $dark;
  @include background-image(linear-gradient(top, lighten($dark, 10), $dark));
  @include box-shadow(0 2px 4px rgba(#000, 0.5));  
  color: #fff;
  
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;
  
  h1 {
    padding: 8px;
    font-size: 24px;
    letter-spacing: -0.05em;
    font-weight: bold;
    float: left;    
  }

  .menu {
    position: relative;
    float: left;
    margin-left: 20px;
    top: $top-offset;
    font-size: $font-size-normal;

    .button {
      margin-right:10px;
    }
  }
  .centralizer {
    position: relative;
    margin-left: 70%;
    left:0;
  }    
  .sharebox{
    position: relative;
    margin-left: -100%;
    float:left;
    top: $top-offset;
  }
  
  input {
    background: transparent;
    margin: 0 6px 0 1px;
    border: none;
    border-bottom: 1px solid lighten($dark, 20);
    color: #fff;
    padding: 4px 2px;
    @include border-radius(8px);
    @include box-shadow(inset 0 2px 2px #000);
    font-size: $font-size-normal;
    float:left;
    width: 100px;
   }
  .menutext {
    float:left;
    top: ($top-offset /2) - 2px;
    position: relative;
    display: block;
    margin-left: 5px;
  }    
  .login-btn {
    position: relative;
    top: $top-offset;
    float: right;
    margin-right: 10px;
  }
  
  span.light {
    color: adjust-saturation($highlight1, -50);
  }
}

#pasteboard {
  overflow: hidden;
  background-color: black;
}

#inner {
	background-image: url(/images/bgnoise.gif);
	position: relative;
}

.element {
  position: absolute;
  top: 700px;
  left: 700px;
}

#login-window-overlay-mask {
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(#000, 0.8);
  z-index: 10000;
  display:none;
}

#login-window {
  left: 50%;  
  top: 0;
  position: fixed;
  float:left;
}


//log in
.login-center-window {
  width: 300px;
  height: 400px;
  top: $header-height * 1.5;
  left: -50%;  
  position:relative;

  background-color: $dark;
  @include box-shadow(0 2px 5px #000);
  @include border-radius(10px);
  color: #fff;
  padding: 10px 20px;
  
  h1 {
    margin-bottom: 0.5em;
  }
  
  input {
    width: 100%;
  }
  
  input.text{
    font-size: 24px;
    margin:0.25em 0 1em 0;
  }  
  
  input.button {
    padding: 0.5em 0;
  }
  input.button.highlight {
    font-size: 24px;
    margin-bottom:10px;
  }
}


//DEV STUFF
.dashboard {
  border: 1px solid $border;
  height: 50px;
  position: absolute;
  top: 55px;
  left: 400px;

  .cell {
    background: #fff;
    color: #000;
    border-left: 1px solid $border;
    height: 100%;
    width: 100px;
    display: inline-block;
    vertical-align: top;
    &:first-child { border:none; }
    .label {
      color: $halftone;
      text-align: center;
      height: 50%;
      width: 100%;
      line-height: 25px;
    }
    .info {
      text-align: center;
      height: 50%;
      width: 100%;
      line-height: 25px;
    }
  }
}







